[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-io = "*"
python-aqi = "*"
py-sds011 = "*"
pyserial = "*"
pms5003 = "*"
"rpi.gpio" = "*"
adafruit-circuitpython-sht31d = "*"

[dev-packages]

[requires]
python_version = "3"
